@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e7e79;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* chat box section */

.chat-box {
    width: 500px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}


/* about client */

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #77b3d4;
    padding: 15px;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    color: #fff;
    padding: 15px;
}

.client-info p {
    color: #269c83;
    font-weight: bold;
    font-size: 0.8em;
}


/* chat section */

.chats{
    height: 73vh;
    padding: 10px 0;
    overflow-y: auto;
    /* overflow-x: hidden;  */
}
.my-chat{
    padding: 10px;
    width: 100%;
}
span{

    margin: 0.5rem;
    padding: 0.5rem;
   
    border-radius: 25px;
    word-break: break-all;
    font-weight: 100;
}
.color-default{
    background: rgb(192, 127, 127);
}
.color-red{
    background: red;
}
.color-green{
    background: green;
}
.color-orange{
    background: orange;
}
.color-pink{
    background:pink;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}
/* input section */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.chat-input input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: -30px;
}

.send-btn:active {
    transform: scale(1.85);
}

.send-btn img {
    width: 100%;
    height: 100%;
}
.send-btn:hover img {
    transform: rotate(30deg);
}


/* chat box button section */

.chat-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
}

.chat-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
    transform: rotate(30deg);
}